<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production Shift Schedule</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<th:block th:replace="~{fragments/layout.html}">
    <th:block th:fragment="content">
        <div class="bg-white p-8 rounded-lg shadow-md mb-6">

            <div class="flex justify-start p-4">
                <a href="javascript:history.back()" class="text-blue-500 hover:text-blue-700">
                    <i class="fas fa-arrow-left"></i> Back
                </a>
            </div>

            <h2 class="text-2xl mb-4 font-semibold text-gray-700">
                <span th:text="${planDetails.plan.plname}"></span>
            </h2>

            <div id="production-plan-info" class="mb-6">
                <p><strong>Plan ID:</strong> <span th:text="${planDetails.plan.plid}"></span></p>
                <p><strong>Workshop:</strong> <span th:text="${planDetails.department.dname}"></span></p>
                <p><strong>Workshop Manager:</strong> <span th:text="${planDetails.managerName}"></span></p>
                <p><strong>Date:</strong>
                    <span th:text="${#dates.format(planDetails.plan.startdate, 'dd/MM/yyyy')} + ' - ' + ${#dates.format(planDetails.plan.enddate, 'dd/MM/yyyy')}"></span>
                </p>
            </div>

            <!-- General Plan Table -->
            <h3 class="text-xl mb-4 font-semibold text-gray-700">General Plan</h3>
            <div class="relative overflow-auto">
                <div class="overflow-x-auto rounded-lg">
                    <table class="min-w-full bg-white border mb-8">
                        <thead>
                        <tr class="bg-blue-500 text-center text-xs md:text-sm font-thin text-white">
                            <th class="p-0">
                                <span class="block py-2 px-3 border-r border-gray-300">Product ID</span>
                            </th>
                            <th class="p-0">
                                <span class="block py-2 px-3 border-r border-gray-300">Product Name</span>
                            </th>
                            <th class="p-0">
                                <span class="block py-2 px-3 border-r border-gray-300">Quantity (Piece)</span>
                            </th>
                            <th class="p-0">
                                <span class="block py-2 px-3 border-r border-gray-300">Estimated Effort (Hourly)</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="productDetail : ${planDetails.productDetails}"
                            class="border-b text-xs md:text-sm text-center text-gray-800">
                            <td class="p-2 md:p-4" th:text="${productDetail.productId}"></td>
                            <td class="p-2 md:p-4" th:text="${productDetail.productName}"></td>
                            <td class="p-2 md:p-4" th:text="${productDetail.quantity}"></td>
                            <td class="p-2 md:p-4" th:text="${productDetail.effort}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--    Phần lập lịch -->

            <h2 class="text-2xl font-bold mb-6 text-center">Production Shift Schedule</h2>

            <form action="/schedule" method="post">
                <input type="hidden" name="planId" th:value="${planDetails.plan.plid}">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white border border-gray-300">
                        <thead>
                        <tr>
                            <th rowspan="2" class="border border-gray-300 px-4 py-2 text-left">Shift</th>
                            <th th:each="shift : ${shifts}" th:attr="colspan=${products.size()}"
                                class="border border-gray-300 px-4 py-2 text-center" th:text="${shift.sname}">
                            </th>
                        </tr>
                        <tr>
                            <th:block th:each="shift : ${shifts}">
                                <td th:each="product : ${products}" class="border border-gray-300 px-4 py-2 text-center"
                                    th:text="${product.pname}">
                                </td>
                            </th:block>
                        </tr>
                        </thead>
                        <!--                <tbody>-->
                        <!--                <tr th:each="day, dayStat : ${formattedDays}">-->
                        <!--                    <td class="border border-gray-300 px-4 py-2 text-center" th:text="${day}"></td>-->
                        <!--                    <th:block th:each="shift : ${shifts}">-->
                        <!--                        <th:block th:each="product : ${products}">-->
                        <!--                            <td class="border border-gray-300 px-4 py-2 text-center">-->
                        <!--                                <label>-->
                        <!--                                    &lt;!&ndash; Hiển thị giá trị lịch cũ nếu có &ndash;&gt;-->
                        <!--                                    <input type="number"-->
                        <!--                                           th:attr="name='quantities[' + ${dayStat.index} + '][' + ${shift.sid} + '][' + ${product.pid} + ']'"-->
                        <!--                                           class="w-full px-2 py-1 border border-gray-300 rounded-md"-->
                        <!--                                           min="0" step="1"-->
                        <!--                                           th:value="${previousSchedules['day:' + day + ',shift:' + shift.sid + ',product:' + product.pid] != null ? previousSchedules['day:' + day + ',shift:' + shift.sid + ',product:' + product.pid] : ''}">-->
                        <!--                                </label>-->
                        <!--                            </td>-->
                        <!--                        </th:block>-->
                        <!--                    </th:block>-->
                        <!--                </tr>-->
                        <!--                </tbody>-->

                        <tbody>
                        <tr th:each="day, dayStat : ${formattedDays}">
                            <td class="border border-gray-300 px-4 py-2 text-center" th:text="${day}"></td>
                            <th:block th:each="shift : ${shifts}">
                                <th:block th:each="product : ${products}">
                                    <!-- Hiển thị dữ liệu bình thường nếu có sản xuất -->
                                    <td th:if="${existingProductIds.contains(product.pid)}"
                                        class="border border-gray-300 px-4 py-2 text-center">
                                        <label>
                                            <!-- Hiển thị giá trị lịch cũ nếu có -->
                                            <input type="number"
                                                   th:attr="name='quantities[' + ${dayStat.index} + '][' + ${shift.sid} + '][' + ${product.pid} + ']'"
                                                   class="w-full px-2 py-1 border border-gray-300 rounded-md"
                                                   min="0" step="1"
                                                   th:value="${previousSchedules['day:' + day + ',shift:' + shift.sid + ',product:' + product.pid] != null ? previousSchedules['day:' + day + ',shift:' + shift.sid + ',product:' + product.pid] : ''}">
                                        </label>
                                    </td>
                                    <!-- Làm mờ cột nếu không cần sản xuất sản phẩm -->
                                    <td th:if="${!existingProductIds.contains(product.pid)}"
                                        class="px-4 py-2 text-center opacity-70">
                                        <label>
                                            <input type="number" disabled
                                                   class="w-full px-2 py-1 rounded-md bg-gray-400">
                                        </label>
                                    </td>
                                </th:block>
                            </th:block>
                        </tr>
                        </tbody>

                    </table>
                    <div class="mt-4">
                        <button type="submit"
                                class="bg-blue-600 text-white font-bold py-2 px-4 w-full rounded-lg hover:bg-blue-700">
                            Save
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </th:block>
</th:block>

</body>
</html>