<div class="w-64 bg-gray-800 min-h-screen text-white fixed">
    <div class="p-4 flex flex-col items-center justify-center">
        <a href="/home">
            <div class="flex justify-center items-center">
                <img style="width: 150px;" src="/images/logo.png" alt="Logo">
            </div>
            <h2 class="text-2xl font-bold">ABC Company</h2>
        </a>
    </div>

    <nav class="mt-10">
        <a href="/home" class="flex items-center py-4 px-8 w-full">
            <i class="fa-solid fa-house mr-2"></i> Home
        </a>
        <a href="/plan" class="flex items-center py-4 px-8 w-full">
            <i class="fas fa-cogs mr-2"></i> Production Plans
        </a>
        <!-- <a href="/schedule" class="flex items-center py-4 px-8 w-full">
            <i class="fa-solid fa-calendar-days mr-2"></i> Schedule
        </a> -->
<!--        <a href="/attendance" class="flex items-center py-4 px-8 w-full">-->
<!--            <i class="fa-solid fa-clipboard-list"></i> Attendance-->
<!--        </a>-->
        <a href="/dailyproduction" class="flex items-center py-4 px-8 w-full">
            <i class="fa-solid fa-list mr-2"></i>Daily Production
        </a>
        <a href="/salary" class="flex items-center py-4 px-8 w-full">
            <i class="fa-solid fa-flag mr-2"></i> Reports
        </a>
        <a href="/worker" class="flex items-center py-4 px-8 w-full">
            <i class="fas fa-users mr-2"></i> Workers
        </a>
    </nav>

    <div class="absolute bottom-0 p-4">
        <a href="/logout" class="block py-2 px-4 bg-red-600 rounded-lg text-center hover:bg-red-700">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
        </a>
    </div>
</div>