<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production Plan Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="common-container">
    <div class="page-title">
        <span th:text="${planDetails.plan.plname}"></span>
    </div>
    <div id="production-plan-info">
        <p><strong>Plan ID:</strong> <span th:text="${planDetails.plan.plid}"></span></p>
        <p><strong>Workshop:</strong> <span th:text="${planDetails.department.dname}"></span></p>
        <p><strong>Workshop Manager:</strong> <span th:text="${planDetails.managerName}"></span></p>
        <p><strong>General Plan:</strong></p>
    </div>

    <table id="production-plan-table" class="common-table">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity (Piece)</th>
            <th>Estimated Effort (Hourly)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productDetail : ${planDetails.productDetails}">
            <td th:text="${productDetail.productId}"></td>
            <td th:text="${productDetail.productName}"></td>
            <td th:text="${productDetail.quantity}"></td>
            <td th:text="${productDetail.effort}"></td>
        </tr>
        </tbody>
    </table>

    <div class="sub-title">
        The detailed production plan is listed in the table below:
    </div>

    <table class="common-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Shift</th>
            <th>Quantity</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dailyProduction : ${planDetails.dailyProductions}">
            <td th:text="${#dates.format(dailyProduction.date, 'dd/MM/yyyy')}"></td>
            <td th:text="${dailyProduction.productId}"></td>
            <td th:text="${dailyProduction.productName}"></td>
            <td th:text="${dailyProduction.shift}"></td>
            <td th:text="${dailyProduction.quantity}"></td>
            <td th:text="${dailyProduction.note}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>